<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label"> <%= form.label field %></label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_area field, class: 'textarea', cols: 50, rows: 2, style: "min-width: 20%; width: 50%"  %>
      </div>
    </div>
  </div>
</div>