<h3><%= team.name %></h3>

<div>
  <h4>Results are coming soon</h4>
  <iframe src="https://giphy.com/embed/l0HlBO7eyXzSZkJri" width="480" height="330" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>