<%= turbo_stream_from @team %>

<div class="column">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= @team.game.name %>
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <%= render 'team', team: @team %>
      </div>
    </div>
  </div>
</div>
