<%
  position = local_assigns.fetch :position, 'left'
  text = local_assigns.fetch :text, nil
%>
<div class="field-label">
  <!-- Left empty for spacing -->
</div>
<div class="field-body">
  <div class="field">
    <div class="control is-pulled-<%= position %>">
      <%= form.submit text, class: 'button is-primary' %>
    </div>
  </div>
</div>