<div class="field-label">
  <!-- Left empty for spacing -->
</div>
<div class="field-body">
  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
    </div>
  </div>
</div>