<div class="field-label is-normal">
  <label class="label"> <%= form.label field %></label>
</div>
<div class="field-body">
  <div class="field">
    <div class="control">
      <%= form.number_field field, style: "width: 50%", class: 'input' %>
    </div>
  </div>
</div>