<div class="field-label is-normal">
  <%= form.label field, class: 'label' %>
</div>
<div class="field-body">
  <div class="field">
    <div class="control">
      <%= form.text_field field, style: "width: 50%", class: 'input' %>
    </div>
  </div>
</div>