= turbo_frame_tag 'game_wizard'
  .card-content
    .content
      h1.title = @game.name

      == render 'rounds/form', round: @game.first_round

  footer.card-footer
    = link_to 'Edit', edit_game_path(@game), class: "card-footer-item"
    .card-footer-item
    .card-footer-item
