.card-content
  h1.title  = game.name
  == render 'components/form/notice', notice: notice
  == render 'games/round_tabs', game: game

  .content
    - if game.rounds.finished.count > 0
      - game.teams.each do |team|
        == render 'games/team_answers', team: team, round: current_viewing_round(game)
    - else
      p Answers will appear here

  footer.card-footer
    .card-footer-item
    .card-footer-item
    .card-footer-item
      - if game.next_round.present?
        = form_with(model: game, url: next_round_game_path(game)) do |form|
          = form.submit t(:next_round), class: 'button is-primary is-inverted'
      - else
        = form_with(model: game, url: process_results_game_path(game)) do |form|
          = form.submit t(:process_results), class: 'button is-primary is-inverted'
