.column
  .card
    = turbo_frame_tag 'game_wizard' do
      = turbo_frame_tag dom_id(@game) do
        .card-content
          .content
            h1.title = @game.name
            == render 'form', game: @game
