<div class="column">
  <div class="card">
    <%= turbo_frame_tag 'game_wizard' do %>
      <div class="card-content">
        <div class="content">
          <h1 class="title"><%= @game.name %></h1>

          <%= render 'form', game: @game %>
        </div>
      </div>
    <% end %>
  </div>
</div>
